.logo-div{
   
    margin-left: 6px;
}

.Tilt{
   text-align: center;
    background: linear-gradient(to right, #fc5c7d, #6a82fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}